@import './root.scss';
@import './variables.scss';
@import '/node_modules/bootstrap/scss/bootstrap';

.subtitle{
    color: #6ac5f1;
    font-family: 'Niconne', cursive;
    margin: 0;
    font-size: 35px;
}